/* Popup styles - 7.css provides most styling */

/* Make search input full width */
#searchInput {
  width: 100%;
  box-sizing: border-box;
}

/* Make search button full width */
#searchButton {
  width: 100%;
}
